/* * {
    margin: 0;
    padding: 0;
    border: 0;
} */

.loading {
    display: none;
}

body {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    transition: 0.5s ease;
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.covid {
    background: rgb(187, 187, 187);
    display: block;
    width: 50vw;
    border-radius: 20px;
    transition: 0.5s ease;
}

.headers {
    display: flex;
    justify-content: space-evenly;
}

.data {
    display: flex;
    justify-content: space-between;
    margin: 100px;
    text-align: center;
    animation: anim 1s ease;
}

.data-box p:nth-child(1) {
    font-size: 30px;
}

.data-box p:nth-child(2) {
    background: white;
    color: black;
    padding: 50px;
    border-radius: 20px;
}